// Font sizes
$global-font-size: 62.5%;

$font-size-n: 1.8rem; // n = normal font
$font-size-m: 2.1rem; // m = medium font
$font-size-l: 2.4rem; // l = large font


// Margin & padding

$padding-l: 6.5rem; // l = large padding
$padding-m: 3.25rem; // l = large padding
$padding-s: 1.8rem; // s = small padding

$margin-l: 5rem; // l = large margin
$margin-m: 3.25rem; // l = large margin
$margin-s: 1.8rem; // s = small margin
