.btn__deleteAll {
    position: relative;
    left:  0;
    width: 15rem;
    border: none;
    margin: $margin-s;
    padding: $padding-s;
    background-color: inherit;
    color: $title-color;
    outline: none;
    opacity: 1;

    // animation-fill-mode: forwards;
    animation: fadeIn .4s ease-in-out 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
