.btn__deleteAll {
    position: relative;
    left:  0;
    width: 15rem;
    border: none;
    margin: $margin-s;
    padding: $padding-s;
    background-color: inherit;
    color: $title-color;
    outline: none;
}
