.main {
    background-color:darken($browngold,5%);
    height: 80vh;
    text-align: center;


    &__findItem {

        padding: $padding-m;

        &>button {
            background: none;
            width: 20rem;
            padding: $padding-s;
            border: .1rem solid $browngold;
            border-radius: 1rem;
            letter-spacing: .25rem;
            color: $browngold;
            transition: .75s;
            outline: none;

            &:hover{
                transform: translateY(-.5rem);
                color: lighten($browngold, 25%);
                border-color: lighten($browngold, 25%);
            }
        }
    }
}
