.main {
    background-color: $main-background;
    height: 80vh;
    text-align: center;


    &__findItem {

        padding: $padding-m;

        &>button {
            background: none;
            width: 20rem;
            padding: $padding-s;
            border: .1rem solid $browngold;
            border-radius: 1rem;
            letter-spacing: .25rem;
            color: $browngold;
            transition: .5s;

            &:hover{
                transform: translateY(-.5rem);
            }
        }
    }
}
