.header {
    background-color: $primary-color;
    text-transform: uppercase;
    padding: 0;

    &__title {
        color: $title-color;
        text-align: center;
        text-shadow: .5rem .5rem .5rem #000;
        margin: 0;
    }

    &__subtitle {
        color: $title-color;
        text-align: center;
    }
}
