.header {
    background-color: $primary-color;
    text-transform: uppercase;
    padding: 0;
    height: 20vh;

    &__title {
        color: $title-color;
        text-align: center;
    }

    &__subtitle {
        color: $title-color;
        text-align: center;
    }
}
